*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Maven Pro', sans-serif;
    color: #999999;
}
h1,h2,h3,h4{
	font-family: 'PT Serif', serif;
	color: #333333;
	margin-bottom: 0px;
}
h5{
    font-family: 'Maven Pro', sans-serif;
	color: #333333;
	font-size: 25px;
}
p{
	margin-bottom: 0px;
}
a{
    text-decoration: none;
}
.bg-color{
	background-color: #f1f0ed;
}
.bg-orange{
	background-color: #deb666;
}
.orange{
	color: #deb666;
}
.custom-padding{
	padding: 50px 0px;
}
.custom-btn{
	color: #fff;
	padding: 7px 20px;
	font-weight: 600;
}
.custom-btn:focus{
	box-shadow: none;
}
/*header section*/
.header img{
	width: 100px;
}
.header ul li{
	padding-left: 10px;
}
.header{}
/*slider section*/
.slider-text p{
	font-weight: 600;
	color: #333333;
}
.carousel-indicators {
    bottom: -35px;
}
.carousel-indicators .active {
    background-color: #deb666;
}
.carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #666666;
}

/*room section*/
.card span{
	font-size: 18px;
}
.image p{
	background-color: #deb666;
    display: inline-block;
    padding: 2px 7px;
    position: absolute;
    right: 20px;
    top: 20px;
	
}
.image{
	overflow: hidden;
}
.image img{
	transition: transform 0.5s;
}
.card:hover .image img{
	transform: scale(1.05);
	cursor: pointer;
}

/*check-in section*/
.item-checkin h5{
	font-size: 18px;
}
.item-checkin p{
	color: #444444;
	font-weight: 600;
	font-size: 33px;
}
.item-checkin .cancel{
	font-size: 16px;
}

/*spa section*/
.spa-image{
	position: relative;
	cursor: pointer;
}
.spa-image::after{
    content: "";
    border-left: 3px solid #deb666;
    position: absolute;
    height: 0%;
    right: 4%;
    bottom: 0;
	transition: 0.5s;
}
.spa-image::before{
    content: "";
    border-bottom: 3px solid #deb666;
    position: absolute;
    width: 0%;
    right: 0;
    bottom: 6%;
	transition: 0.5s;
}
.spa-image:hover::before{
	width: 95%;
}
.spa-image:hover::after{
	height: 95%;
}
.spa-text{
	height: 350px;
}
/*about section*/
.single-check-border {
    border: 1px solid #deb666;
    padding: 5px 10px;
    margin-bottom: 15px;
}
.about-img{
	z-index: 22;
	position: relative;
}
.about-img::after {
	content: "";
    width: 0;
    height: 0;
    border-top: 150px solid #deb666;
    border-right: 150px solid #fff;
    position: absolute;
    left: -1%;
    top: -1%;
    z-index: -1;
}
.about-img::before {
	content: "";
    width: 0;
    height: 0;
    border-bottom: 150px solid #deb666;
    border-left: 150px solid transparent;
    position: absolute;
    right: 4%;
    bottom: -1%;
    z-index: -1;
}

/*Free Wifi Section*/
.wifi .item-checkin i{
	font-size: 42px;
	padding-bottom: 15px;
}

/*contact section*/
.contact-item i {
    font-size: 36px;
    line-height: 60px;
    padding-right: 20px;
}
.contact-item h5{
	font-size: 20px;
}
/*footer section*/
.social-icons a{
	padding: 10px;
	font-size: 18px;
	color: #fff;
}


/*Mobile Menu Icon edit*/
header .navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
     border-color: transparent;
}
.navbar-toggler {
    border-radius: 0px;
}
header button:focus {
    outline: none;
}
header .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(222,182,102, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.header ul li {
    margin: auto;
}